    <{{tag}} id="{{comment_ID_attr}}" 
         class="media">
        <div class="pull-left">
            {{{avatar}}}
        </div>
        <div class="media-body comment-author">
            <h4 class="media-heading">
                {{{author_link}}} {{{author_badge}}}
            </h4>
            {{{comment_text}}}
            <p>
                <small>
                    <a href="{{comment_link}}">
                        {{comment_date}}
                    </a>
                    {{{comment_reply}}}
                    {{{moderation}}}
                </small>
            </p>
        </div>