
                <ul class="{{menu_class}}">
                    <li>
                        <a href="{{menu_url}}/wp-admin/nav-menus.php">
                            Create your menu.
                        </a>
                    </li>
                </ul>
