    <div class="row">
        <div class="col-sm-12">
            <h2>Leave a Comment</h2>
        </div>
        <div class="form-group col-sm-4">
            <label for="author" 
                   class="required">Name</label>
            <input id="author" 
                   name="author" 
                   type="text" 
                   class="form-control" 
                   placeholder="e.g. John Doe" 
                   value="{{comment_author}}"
                   aria-required="true">
        </div>
        <div class="form-group col-sm-4">
            <label for="email" 
                   class="required">Email</label>
            <input id="email" 
                   name="email" 
                   type="email" 
                   class="form-control" 
                   placeholder="e.g. john@example.com" 
                   value="{{comment_author_email}}"
                   aria-required="true">
        </div>
        <div class="form-group col-sm-4">
            <label for="url">Website</label>
            <input id="url" 
                   name="url" 
                   type="url" 
                   class="form-control" 
                   placeholder="http://" 
                   value="{{comment_author_url}}">
        </div>
    </div>
