    <div class="row">
        <div class="col-sm-12">
            <h2>Leave a Comment</h2>
        </div>
        <div class="col-sm-12">
            <div class="alert alert-info">
                {{{logged_in}}}
            </div>
        </div>
    </div>
