    <div class="row">
        <div class="form-group col-sm-12">
            <label for="comment" 
                   class="required">Comment</label>
            <textarea id="comment" 
                      name="comment" 
                      type="email" 
                      class="form-control" 
                      rows="3" 
                      aria-required="true"></textarea>
        </div>
    </div>
